<div class="box">

    <span *ngIf="isWeekend()">Weekend Sale: {{weekendSaleItem}}</span>
    <ng-container [ngSwitch]="totalItemsOnSales">
        <span *ngSwitchCase="0">No items on sale</span>
        <span *ngSwitchCase="1">One item on sale</span>
        <span *ngSwitchDefault>{{totalItemsOnSales}} items on sale | </span>
    </ng-container>
    <span *ngFor="let dessert of dessertsSale"> {{dessert}} |</span>

    <span *season="'summer'"> Summer Sale: Half price on all beverages</span>
</div>