div{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr);
}

header{
    grid-column: span 6;
}

main{
    grid-column: span 5;
    overflow: auto; 
    /* scrollbar */
}

footer{
    grid-column: span 6;
}

div, div > * {
    border: 1px solid black;
}