<div class="box">

    <form (ngSubmit)="send()" #productForm="ngForm">
        <h2>Add product</h2>

        <label>Name:</label>
        <input type="text" name="name" [(ngModel)]="product.name" required minlength="3" maxlength="100"
            #nameControl="ngModel">
        <span *ngIf="nameControl.errors?.['required'] && nameControl.touched">Missing Name</span>
        <span *ngIf="nameControl.errors?.['minlength'] && nameControl.touched">Name too short</span>
        <span *ngIf="nameControl.errors?.['maxlength'] && nameControl.touched">Name too long</span>
  

        <label>Price:</label>
        <input type="number" name="price" [(ngModel)]="product.price" required min=0 max=1000 #priceControl="ngModel">
        <span *ngIf="priceControl.errors?.['min'] && priceControl.touched">Price cant be below 0</span>
        <span *ngIf="priceControl.errors?.['max'] && priceControl.touched">Price cant be to high</span>

        <label>Stock:</label>
        <input type="number" name="stock" [(ngModel)]="product.stock" required min=0 max=10000 #stockControl="ngModel">
        <span *ngIf="stockControl.errors?.['min'] && stockControl.touched">Stock cant be below 0</span>
        <span *ngIf="stockControl.errors?.['max'] && stockControl.touched">Stock cant be to high</span>

        <label>Image:</label>
        <input type="file" accept="image/*" #imageControl>


        <button [disabled]="productForm.invalid">Add</button>

    </form>


</div>