.box{
    width: 300px;
    text-align: left;
    display: inline-flex;
    align-items: center;
    background-image: linear-gradient(90deg, lightgreen, white);

}

img{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius:  10px;
    vertical-align: middle;

}

div> div:last-child{
    margin-left: auto;
}