html,
body {
    margin: 0;
    height: 100%;
    text-align: center;
    color: black;
    background: linear-gradient(-30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    /* animation: gradient 15s ease infinite;
    background-size: 400% 400%; */


}
/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

a {
    color: blue;
}

.box {
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;

}

